:root {
    --clr__code--100:#F8F9FC; 
    --clr__code--200:#ABB6CD; 
    --clr__code--300:#6A729C; 
    --clr__code--400:#41465B; 
    --clr__code--500:#7594D1; 
    --clr__code--600: #3d4eac;
}
.bg--gradient {
    background:#FFF;
    min-height: 100vh;
}
.bg--gradient h2 {
    color: var(--clr__code--600);
}
.pp__10 {
    padding: 5%;
}

/* https://dribbble.com/shots/15132830-Evergreen-Segment-s-Design-System */
/* https://dribbble.com/shots/12677063-Docs-View/attachments/4276177?mode=media */
/* https://stripe.com/docs/api/metadata */
.snippet {
    font-family: 'Segoe UI', sans-serif;
    color: var(--clr__code--600);
    max-width: 75%;
}
.snippet__line {
    max-width: 75%;
    margin: 45px 0px;
    border: 1px solid var(--clr__code--100);
    border-radius: 5px;
}

.snippet__header {
    color: var(--clr__code--600);
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 20px;
}
.snippet__text {
    font-size: 14px;
    max-width: 70%;
    margin-bottom: 25px;
    color:#4f566b;
}
.snippet__codeblocks {
    border-radius: 15px;
    border: 1px solid var(--clr__code--200);
}
.snippet__preview {
    background: var(--color__neutral--100) !important;
    border-bottom: 1px solid var(--clr__code--100);
    padding: 20px 35px;
}

.code__attributes {
    border-radius: 15px;
    border-radius: inherit;
}
.snippet__codeblocks,
pre[class*="language-"] {
    background:rgba(248, 249, 252, .6) !important;

}
pre {
    position: relative;
}

.btn__show {
    position: absolute;
    right: 85px;
    top: 8px;
    text-decoration: none;
    border: 2px solid #464A67;
    background: #404040;
    color: #bbb;
    border-radius:0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}
.btn__show:hover {
    opacity: 0.6;
}