.bg--grids {
    background: var(--clr__neutral--100);
    min-height: 100vh;
}
.bg--grids h2 {
    color: var(--clr__code--600);
}
.pp__10 {
    padding: 5%;
}
.snippet {
    font-family: 'Segoe UI', sans-serif;
    color: var(--clr__code--600);
    max-width: 75%;
}
.snippet__line {
    max-width: 75%;
    margin: 45px 0px;
    border: 1px solid var(--clr__code--100);
    border-radius: 5px;
}

.snippet__header {
    color: var(--clr__code--600);
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 20px;
}
.snippet__text {
    font-size: 14px;
    max-width: 70%;
    margin-bottom: 25px;
    color: var(--clr__code--300);
}
.snippet__codeblocks {
    border-radius: 15px;
    border: 1px solid var(--clr__code--200);
}
.snippet__preview {
    background: var(--color__neutral--100) !important;
    border-bottom: 1px solid var(--clr__code--100);
    padding: 20px 35px;
}

.code__attributes {
    border-radius: 15px;
    border-radius: inherit;
}
.snippet__codeblocks,
pre[class*="language-"] {
    background: var(--clr__code--100) !important;

}
pre {
    position: relative;
}

.btn__show {
    position: absolute;
    right: 85px;
    top: 8px;
    text-decoration: none;
    border: 2px solid var(--clr__code--100);
    background: var(--clr__code--400);
    color: var(--clr__code--200);
    border-radius:0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}
.btn__show:hover {
    opacity: 0.6;
}