.meta {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.meta__link {
    text-decoration: none;
    color: var(--color__primary--100);
}
.meta__link:hover {
    color: var(--color__dark--200);
}