.nav {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    font-weight: 600;

    color: var(--color__primary--100);
}
.nav__list {
    height: 90%;
}
.nav__item {
    margin-bottom: 15px;
}
.nav__item a {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    position: relative;
    color: var(--color__primary--100);
    text-decoration: none;
    text-transform: capitalize;
}
.nav__item a:hover {
    color: var(--color__dark--100);
}
.nav__item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: var(--color__dark--100);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.1s ease-in-out 0s;
}
.nav__item a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

@media only screen and (max-width: 56rem) {
    .nav {
        display: none;
    }
    .nav.show {
        display: block;
        padding: 15px 0px;
    }
    .nav__list {
        margin-bottom: 15px;
    }
}