*, *::before, *::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body,
main,
section,
article,
aside,
img,
h1,
h2,
h3,
h4,
nav,
ul,
li,
i,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}