.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg__primary--100);
    transition: all 0.4s ease;
    width: 20rem;
    height: 100%;

    padding: 60px 60px;
    text-align: center;
    display: grid;

    &__imgWrapper {
        padding: 0 30px;
    }

}
@media only screen and (max-width: 56rem) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg__primary--200);
        width: 100%;
        height: auto;

        padding: 25px 20px;

        text-align: center;
        display: grid;
        grid-template-columns: 3fr 8fr 2fr;

        &__imgWrapper {
            padding: 10px;
        }
        &__imgWrapper img {
            max-width: 75%;
        }
    }

}