:root {
    --bg__primary--100: rgba(0, 0, 0, 0.04);
    --bg__primary--200: #f5f5f5;
    --color__primary--100:  rgba(0, 0, 0, 0.4);
    --color__primary--200: #8f8f8f;
    --color__primary--300: #989898;
    --color__primary--400: #afafaf;
    --color__dark--100: #000;
    --color__dark--200: #ec452a;
    --color__accent--100: #1d1d1d;
    --color__border--100: #f3f3f3;
    --color__articles--100: #787878;
    --color__articles--200: #343434;
    --color__neutral--100: #FFFFFF;
}